@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Grape+Nuts&family=Open+Sans&family=Roboto:wght@500&display=swap');


*{
	margin:0 ;
	padding:0 ;
	box-sizing: border-box;
}

body{
	width: 90%;
	margin: 0 auto;
	margin-top: 1rem;
	font-weight: 600;
	font-size: 1rem;
font-family: 'Akshar', sans-serif;
background-color:orangered ;
background-position: center center;
background-size: cover;


}

#text{
	width: 80%;
	height: 50vh;
  margin: 40px 40px 20px 40px;
  resize: none;
  border: 2px solid;
  font-weight: 600;
  font-size: large;
  padding: 20px;
  
}

.btn{

  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 1px solid #000;
  color: #000;
  background: transparent;
}
.btn:hover:after {
  top: 0;
  left: 0;
}
.btn:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: #3d348b;
}
<<<<<<< HEAD
}


=======


.t-area{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content:space-around;
  gap: 30px;
}
>>>>>>> 47b4817 (talkie version 2)
